/* Import shared styles */
@import "../../../../shared/styles/list-component.css";

/* Component-specific styles */
.project-list-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - 100px
  ); /* Adjusted height to fit in viewport with some padding */
}

.error-message {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(244, 67, 54, 0.1);
}

.mat-column-projectId {
  width: 10%;
}

.mat-column-title {
  width: 30%;
}

.mat-column-description {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.mat-column-actions {
  width: 15%;
  text-align: center;
}

::ng-deep .description-tooltip {
  max-width: 400px !important;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px !important;
  background-color: var(--anthracite-primary);
  color: white;
  white-space: pre-wrap;
}

td div.text-sm {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
