.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.sidenav-header {
  padding: 16px;
  background-color: var(--anthracite-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.sidenav-logo {
  height: 32px;
  width: auto;
}

.sidenav-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.nav-list {
  margin-top: 0;
  padding-top: 16px; /* Add space at the top of the list */
  flex: 1;
  overflow-y: auto;
}

.nav-list a {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  transition: background-color 0.2s;
}

.nav-list mat-icon {
  margin-right: 16px;
  color: var(--anthracite-primary);
}

.active-link {
  background-color: rgba(51, 51, 51, 0.1);
  border-left: 4px solid var(--anthracite-primary);
  font-weight: 500;
}

.active-link mat-icon {
  color: var(--anthracite-primary);
  font-weight: bold;
}

.nav-list a:hover {
  background-color: rgba(51, 51, 51, 0.05);
  text-decoration: none;
}
