/* Import shared styles */
@import "../../../../shared/styles/list-component.css";

/* Component-specific styles */
.mat-column-proposalId {
  width: 8%;
}

.mat-column-title {
  width: 20%;
}

.mat-column-description {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.mat-column-origin {
  width: 15%;
}

.mat-column-topics {
  width: 15%;
}
