/* Import shared styles */
@import "../../../../shared/styles/list-component.css";

/* Component-specific styles */
.mat-column-classroomId {
  width: 15%;
}

.mat-column-name {
  width: 45%;
}

.mat-column-level {
  width: 25%;
}
