<nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current h-8 w-8 mr-2" xmlns="http://www.w3.org/2000/svg"><path d="M 11 5.918 C 12.357 5.918 13.634 6.448 14.594 7.408 C 16.574 9.388 16.574 12.612 14.594 14.593 C 13.634 15.553 12.357 16.083 11 16.083 S 8.366 15.553 7.406 14.593 C 5.426 12.613 5.426 9.388 7.406 7.407 C 8.366 6.447 9.643 5.917 11 5.917 M 11 1 C 8.44 1 5.88 1.976 3.93 3.93 C 0.024 7.834 0.024 14.166 3.93 18.07 C 5.88 20.024 8.44 21 11 21 S 16.12 20.024 18.07 18.07 C 21.976 14.166 21.976 7.834 18.07 3.93 C 16.12 1.976 13.56 1 11 1 Z"/></svg>
    <span class="font-semibold text-xl tracking-tight">BP Gezinswetenschappen</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-blue-200 border-blue-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
        Aanvraag
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
        Projectplaatsen
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
        Mijn bachelorproef
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
        Mijn bachelorproeven
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
        Admin
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0">Login</a>
    </div>
  </div>
</nav>

<div *ngFor="let topic of topics">
  <h1>{{ topic.id }}</h1>
  <h2>{{ topic.name }} </h2>
</div>
