<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-content">
      <span>
        <a
          mat-button
          href="https://www.google.com"
          target="_blank"
          class="copyright-link"
        >
          <mat-icon>copyright</mat-icon>
          <span>{{ currentYear }} Joris Van Puyenbroeck</span>
        </a>
      </span>
      <span class="spacer"></span>
      <!-- <app-theme-toggle></app-theme-toggle> -->
      <a
        mat-icon-button
        href="https://www.linkedin.com"
        target="_blank"
        aria-label="LinkedIn"
      >
        <mat-icon>linkedin</mat-icon>
      </a>
      <a
        mat-icon-button
        href="https://github.com"
        target="_blank"
        aria-label="GitHub"
      >
        <mat-icon>code</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</footer>
