<div class="container mx-auto mt-8 mb-8">
  <div
    *ngIf="isSubmitted && errorMessage"
    class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
  >
    {{ errorMessage }}
  </div>
  <form #examPeriodForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="m-1 mb-6">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="name"
        >Name</label
      >
      <input
        #name="ngModel"
        [(ngModel)]="examPeriod.name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        id="name"
        name="name"
        placeholder="Name"
        required
        type="text"
      />
      <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
        Name is required
      </div>
    </div>
    <div class="m-1 mb-6">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="yearId"
        >Year</label
      >
      <select
        #yearId="ngModel"
        [(ngModel)]="examPeriod.yearId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        id="yearId"
        name="yearId"
        required
      >
        <option *ngFor="let year of years" [value]="year.yearId">
          {{ year.label }}
        </option>
      </select>
      <div [hidden]="yearId.valid || yearId.pristine" class="text-red-500 mt-2">
        Year is required
      </div>
    </div>

    <button
      *ngIf="isAdd"
      [disabled]="!examPeriodForm.valid || isSubmitted"
      class="m-1 text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
      type="submit"
    >
      Add
    </button>
    <button
      *ngIf="isEdit"
      [disabled]="!examPeriodForm.form.valid || isSubmitted"
      class="m-1 text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
      type="submit"
    >
      Save
    </button>
    <button
      class="m-1 text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
      (click)="goBack()"
    >
      Cancel
    </button>
  </form>
</div>
